@import "~@fe/src/assets/css/mixins.scss";
.tags-container
{
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  background-color: #eee;
  @include disableUserSelect;
  &::-webkit-scrollbar {
    display: none;
  }

  .tag-wrapper, .tag-children
  {
    display: inline-block;
    position: relative;
  }
  .tag
  {
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 5px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    @include textOverflow(60px);

    &:hover {
      opacity: 0.7;
    }

    &.checked, &:hover {
      border-bottom: 2px solid #40a9ff;
    }
  }

  .has-children, .collapse
  {
    position: absolute;
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #40a9ff;
    left: 4px;
    top: 8px;
    border-radius: 5px;
  }
  .expended, .collapse
  {
    background-color: transparent;
    border-color: #40a9ff;
    border-style: solid;
    border-width: 1px;
    border-bottom-width: 0;
    border-left-width: 0;
    transform: rotate(45deg);
  }
  .collapse
  {
    transform: rotate(-135deg);
    left: initial;
    top: 12px;
    right: 4px;
  }
}
