@import "~@css/mixins.scss";
.tags
{
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  .tag-wrapper
  {
    display: inline-block;
  }
  .tag
  {
    display: inline-block;
    text-align: center;
    margin: 5px;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    @include textOverflow(60px);
  }

  @include scrollbar;
}
